.bento {
    background: var(--bento-background);
    border-radius: 12px;
    border: 1px solid var(--border);
}

.box {
    max-width: 60px;
    width: 100%;

    @media (width > 1200px) {
        max-width: 80px;
    }
}

.image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture {
    display: flex;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}