.bento {
    background: var(--color-neutral-100);
    border-radius: 12px;
    border: 1px solid var(--border);
}

.box {
    max-width: 60px;
    width: 100%;

    @media (width > 1200px) {
        max-width: 80px;
    }
}

.page-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 6px;

    @media (width > 1200px) {
        gap: 8px;
    }

    @media (width > 1600px) {
        gap: 10px;
    }
}

.page-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    gap: 6px;

    @media (width > 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (width > 1200px) {
        gap: 8px;
    }

    @media (width > 1600px) {
        gap: 10px;
    }
}