.bento {
    background: var(--color-neutral-100);
    border-radius: 12px;
    border: 1px solid var(--border);
}

.box {
    max-width: 60px;
    width: 100%;

    @media (width > 1200px) {
        max-width: 80px;
    }
}