:root {
    --color-neutral-100: #fafafa; // gray item
    --color-neutral-200: #f1f1f1; // gray

    --color-black: #2f2f2f;
    --color-white: #ffffff;

    --gradient: linear-gradient(to right, #00DC82 0%, #42B883 100%);
    --border: #e6e6e6; // stroke

    --spacing: 6px;
    --padding: 16px;

    @media (width > 768px) {
        --padding: 24px;
    }

    @media (width > 1200px) {
        --spacing: 8px;
        --padding: 32px;
    }

    @media (width > 1600px) {
        --spacing: 10px;
        --padding: 64px;
    }
}
