:root {
    --color-neutral-100: #fafafa; // gray item
    --color-neutral-200: #f1f1f1; // gray

    --color-black: #2f2f2f;
    --color-white: #ffffff;

    --gradient: linear-gradient(to right, #00DC82 0%, #42B883 100%);
    --border: #e6e6e6; // stroke
}
