.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color-black);
    border: none;

    @media (width > 768px) {
        width: fit-content;
    }

    &:has(.button__icon) {
        gap: 4px;
    }

    &--background {
        position: relative;
        background: var(--gradient);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: #42B883;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: inherit;
        }

        &:hover::before,
        &:focus::before {
            opacity: 1;
        }
    }

    &--mirror {
        flex-direction: row-reverse;
    }

    &-type--primary {
        padding: 18px 32px;
        border-radius: 12px;
        z-index: 1;
        background: var(--gradient);

        @media (width > 1600px) {
            padding: 26px 32px;
        }

        &:hover,
        &:focus {
            .button__border {
                opacity: 0;
            }
        }

        .button__content {
            font-size: 1.125rem;
            font-weight: 400;

            @media (width >= 1600px) {
                font-size: 1.5rem;
            }
        }
    }

    &__border {
        position: absolute;
        inset: 2px;
        border-radius: 10px;
        background: var(--color-white);
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    &-type--secondary {
        &:hover {
            text-decoration: underline;
        }

        .button__content {
            font-size: 1.25rem;
            line-height: 2.5rem;
            font-weight: 400;

            @media (width >= 1600px) {
                font-size: 1.5rem;
                line-height: 1;
            }
        }
    }

    &__content {
        pointer-events: none;
        font-family: 'Casanova', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        z-index: 1;
    }

    &__icon {
        pointer-events: none;
        transition: background 0.3s ease;
    }
}