.button {
    position: relative;
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color-black);
    border: none;

    &:has(.button__icon) {
        gap: 4px;
    }

    &--background {
        position: relative;
        background: var(--gradient);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: #42B883;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: inherit;
        }

        &:hover::before,
        &:focus::before {
            opacity: 1;
        }
    }

    &--mirror {
        flex-direction: row-reverse;
    }

    &--type-primary {
        padding: 26px 32px;
        border-radius: 12px;
        z-index: 1;
        background: var(--gradient);

        &:hover,
        &:focus {
            .button__border {
                opacity: 0;
            }
        }
    }

    &__border {
        position: absolute;
        inset: 2px;
        border-radius: 10px;
        background: var(--color-white);
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    &--type-secondary {
        margin: 0 auto;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__content {
        pointer-events: none;
        font-family: 'Casanova', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        z-index: 1;
    }

    &__icon {
        pointer-events: none;
        transition: background 0.3s ease;
    }
}