.button {
    position: relative;
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    cursor: pointer;

    &:has(.button__icon) {
        gap: 4px;
    }

    &--background {
        background: var(--gradient);
    }

    &--mirror {
        flex-direction: row-reverse;
    }

    &--type-primary {
        padding: 26px 32px;
        border-radius: 12px;
        z-index: 1;
        background: var(--gradient);

        &:hover {
            .button__border {
                background: var(--gradient);
            }
        }
    }

    &__border {
        position: absolute;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        left: 1px;
        top: 1px;
        bottom: 0;
        border-radius: 11px;
        background: var(--color-white);
        z-index: -1;
        transition: background 0.3s ease;
    }

    &--type-secondary {
        &:hover {
            text-decoration: underline;
        }
    }

    &__content {
        pointer-events: none;
        font-family: 'Casanova', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
    }

    &__icon {
        pointer-events: none;
        transition: background 0.3s ease;
    }
}