.mode-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12.5px;
    cursor: pointer;

    &:has(.mode-selector--in-dropdown) {
        min-height: 80px;
        padding: 16px;
        justify-content: flex-start;
    }

    @media (width < 768px) {
        display: none;
    }

    @media (width > 1200px) {
        padding: 10px 24px;
    }

    &--in-dropdown {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media (width >= 768px) {
            display: none;
        }

        .mode-selector {
            &__container {
                width: 85px;
                height: 45px;
            }

            &__icon-container {
                width: 35px;
                height: 35px;
                left: 5px;
            }
        }
    }

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        width: 75px;
        height: 35px;
        border: 1px solid var(--border);
        border-radius: 100px;
        background: var(--language-selector-background);

        @media (width > 1200px) {
            width: 85px;
            height: 45px;
        }
    }

    &__icon-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        left: 5px;
        border-radius: 50%;
        z-index: 1;
        background: var(--language-selector-icon);
        transition: transform 0.3s ease;

        @media (width > 1200px) {
            width: 35px;
            height: 35px;
        }

        &--dark {
            transform: translateX(calc(85px - 35px - 5px - 7.5px));
        }
    }

    &__icon {
        background: var(--gradient);
    }
}