.indicator {
    flex-grow: 1;

    &__container {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &__pulsing {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;

        @media (width > 1200px) {
            width: 40px;
            height: 40px;
        }

        &-1 {
            position: absolute;
            width: 7.5px;
            height: 7.5px;
            background: var(--gradient);
            border-radius: 50%;
            z-index: 2;

            @media (width > 1200px) {
                width: 15px;
                height: 15px;
            }
        }

        &-2 {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #42B883;
            opacity: 0;
            border-radius: 50%;
            animation: pulse 2s ease-out infinite 1s;

            @media (width > 1200px) {
                width: 30px;
                height: 30px;
            }
        }

        &-3 {
            position: absolute;
            width: 18px;
            height: 18px;
            background: #42B883;
            opacity: 0;
            border-radius: 50%;
            animation: pulse 2s ease-out infinite;
        }
    }

    &__pulsing-inner {
        position: absolute;
        background: var(--gradient);
        border-radius: 50%;
    }

    &__logo-link {
        display: flex;
    }

    &__text {
        color: var(--text-color);
        text-decoration: none;
        font-family: "Casanova", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;

        @media (width > 1200px) {
            font-size: 1.5rem;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 16px;

        &-icon {
            display: none;
            color: var(--text-color);

            @media (width > 350px) {
                display: block;
                margin-left: 4px;
                font-size: 1.25rem;
            }

            @media (width > 1200px) {
                font-size: 1.75rem;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
