.icon-carousel {
    position: relative;
    width: 100%;
    min-width: 0;
    text-align: center;

    &--glow-effect {
        padding: 1px;
        z-index: 0;
        border-radius: 12px;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 25px;
            height: 215%;
            background: #42B883;
            animation: rotate 4s linear infinite;
            transform-origin: center center;
            z-index: -1;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--padding);
        gap: 16px;

        @media (width > 1024px) {
            gap: 20px;
        }

        @media (width > 1600px) {
            gap: 30px;
        }
    }

    &__track {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        gap: 16px;
        overflow: hidden;

        &--center {
            height: 100%;
            justify-content: center;
        }

        @media (width > 500px) {
            max-width: 400px;
        }

        @media (width > 1024px) {
            max-width: 450px;
        }

        @media (width > 1600px) {
            max-width: 650px;
            gap: 30px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 16px;

        @media (width > 1600px) {
            gap: 30px;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            padding: 14px;
            border-radius: 12px;
            border: 1px solid var(--border);
            background: var(--page-background);

            &--square {
                width: 60px;
                height: 60px;

                @media (width > 1024px) {
                    width: 75px;
                    height: 75px;
                }

                @media (width > 1600px) {
                    width: 100px;
                    height: 100px;
                }
            }

            &-icon {
                font-size: 2.25rem;
                color: #00dc82;
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }

        &--animate {
            justify-content: unset;
            animation: scrolling 19.6s linear infinite;
        }

        &--reverse {
            animation: scrolling 19.6s linear infinite reverse;
        }
    }
}

@keyframes scrolling {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-50%)
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}