.footer {
    display: flex;
    flex-direction: column;
    margin: var(--spacing);
    gap: var(--spacing);

    @media (width > 768px) {
        display: grid;
        grid-template-columns: calc(50% - (var(--spacing) / 2)) calc(50% - (var(--spacing) / 2));

        &__header {
            grid-column: 1 / -1;
        }

        &__nav {
            grid-column: 1 / 2;
        }

        &__form {
            grid-column: 2 / -1;
            grid-row-start: 2;
        }
    }

    &__header {
        display: flex;
        gap: var(--spacing);
    }

    &__logo {
        max-width: 80px;
        max-height: 80px;
        width: 100%;
        height: 100%;

        &-link {
            display: flex;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);

        &-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding: 16px;
            font-size: 1.25rem;
            line-height: 2.5rem;
            color: inherit;
            text-decoration: none;
            font-family: 'Casanova', sans-serif;

            @media (width > 768px) {
                padding: 24px 16px;
            }

            @media (width > 1024px) {
                font-size: 2rem;
                line-height: 2.75rem;
            }

            @media (width > 1200px) {
                padding: 30px 44px;
            }
        }

        &-icon {
            font-size: 1.875rem;

            @media (width > 1024px) {
                font-size: 2.25rem;
            }
        }
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 10px 16px;

        @media (width > 1200px) {
            padding: 20px 44px;
        }
    }

    &__copyright {
        opacity: 0.7;
        font-size: 0.675rem;
        font-family: 'Casanova', sans-serif;

        @media (width > 1024px) {
            font-size: 0.875rem;
        }
    }

    &__icons {
        display: flex;
        margin-left: 10px;
        padding: 6px 0;
        gap: 12px;

        @media (width > 375px) {
            gap: 16px;
        }
    }
}