.experience {
    width: 100%;

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 70px 50px;
        gap: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        list-style: none;

        &-item {
            display: flex;
            align-items: center;
            padding: 15px;
            border-radius: 12px;
            background: var(--color-neutral-200);

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                margin-right: 15px;
                border-radius: 4px;
                background: var(--color-white);
            }

            &-name {
                font-size: 1.25rem;
                font-weight: bold;
            }

            &-date {
                opacity: 0.6;

                &::before {
                    content: '|';
                    margin: 0 10px;
                }
            }

            &-tasks {
                display: flex;
                margin-left: 30px;
                gap: 15px;
                list-style: none;
            }

            &-task {
                padding: 8px 15px;
                border-radius: 6px;
                background: var(--color-white);
            }
        }
    }
}