.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 10px;

    @media (width > 768px) {
        padding: 32px;
    }

    @media (width > 1200px) {
        padding: 40px 20px;
    }

    @media (width > 1600px) {
        padding: 50px 20px;
    }

    &__label {
        color: #00DC82;
        text-align: center;
    }

    &__metrics {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &-label {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            --num: 0;
            counter-reset: num var(--num);
            animation: counter 1.5s ease-out forwards;
            color: var(--text-color);

            &::after {
                content: counter(num);
            }
        }

        &-progress {
            transition: stroke-dashoffset 3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &-loading {
            position: relative;
            background-color: #DDDBDD;
        }

        &-skeleton {
            position: absolute;
            inset: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(
                            90deg,
                            rgba(#fff, 0) 0,
                            rgba(#fff, 0.2) 20%,
                            rgba(#fff, 0.5) 60%,
                            rgba(#fff, 0)
            );
            animation: shimmer 1.5s infinite;
        }
    }

    &__metric {
        width: 100%;
        max-width: 120px;
    }
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@keyframes counter {
    to {
        --num: var(--target);
    }
}