.card {
    padding: 16px 16px 30px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (width > 1600px) {
            gap: 30px;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--color-black);
    }

    &__image {
        display: flex;
        max-width: 100%;
        height: 200px;

        &--filter {
            filter: grayscale(100%);
        }

        @media (width > 1024px) {
            height: 300px
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 16px;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: var(--text-color);

        &-header,
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-footer {
            gap: 10px;
        }

        &-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &-title {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: bold;

            @media (width > 1024px) {
                font-size: 1.125rem;
                line-height: 1.5rem;
            }

            @media (width > 1600px) {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }

        &-items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            list-style: none;

            @media (width > 1200px) {
                gap: 8px;
            }

            @media (width > 1600px) {
                gap: 15px;
            }
        }

        &-item {
            padding: 8px 16px;
            border-radius: 8px;
            font-size: 0.75rem;
            background: var(--color-neutral-200);
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        height: 40px;
        margin-top: auto;
        border-radius: 50%;
        background: var(--color-black);

        &-icon {
            font-size: 2.1rem;
            color: var(--color-white);
        }
    }
}