.single-page-header {
    display: flex;
    flex-direction: column;
    margin: var(--spacing);
    gap: var(--spacing);

    &--projects {
        .single-page-header__image img {
            max-height: 600px;

            @media (width> 1600px) {
                max-height: 700px;
            }
        }
    }

    &--article {

    }

    &__header {
        display: flex;
        padding: var(--padding);
        gap: 10px;

        @media (width > 1024px) {
            gap: 30px;
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-icon {
            min-width: 24px;
            margin-top: 10px;
            font-size: 24px;
            cursor: pointer;

            @media (width > 768px) {
                min-width: 30px;
                font-size: 30px;
            }

            @media (width > 1024px) {
                min-width: 34px;
                font-size: 34px;
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        height: 100%;
        gap: 10px;

        &-icon {
            font-size: 3.75rem;
            color: #00dc82;

            @media (width > 1200px) {
                font-size: 4.375rem;
            }

            @media (width > 1600px) {
                font-size: 5.625rem;
            }
        }

        &-text {
            font-size: 1.125rem;
            font-family: 'Casanova', sans-serif;
            text-align: center;

            @media (width > 1600px) {
                font-size: 1.5rem;
            }
        }
    }

    &__image {
        display: flex;

        @media (width > 768px) {
            width: calc(100% / 1.5);
        }

        img {
            width: 100%;
            height: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 12px;

            @media (width > 1200px) {
                max-height: 500px;
            }

            @media (width > 1600px) {
                max-height: 600px;
            }
        }
    }
}