.testimonial-slider {
    padding: var(--padding);

    &__mobile {

        @media (width > 768px) {
            display: none;
        }
    }

    &__desktop {

        @media (width <= 768px) {
            display: none
        }

        &-container {
            display: flex;
            gap: 16px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1rem;

        @media (width > 768px) {
            margin-bottom: 2.125rem;
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        margin: 16px 0;
        gap: 16px;

        @media (width > 1024px) {
            margin: 35px 0 0;
        }

        &-icon {
            font-size: 2.25rem;
            background: var(--gradient);
            cursor: pointer;

            &--disabled {
                opacity: 0.6;
                background: var(--color-black);
            }
        }
    }

    &__button {
        &-desktop {
            display: none;

            @media (width >= 1024px) {
                display: flex;
            }
        }

        &-mobile {
            display: none;

            @media (width < 1024px) {
                display: flex;
            }
        }
    }

    .button.testimonial-slider__button-mobile {
        width: 100%;
    }
}