.form {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: 16px;

    @media (width > 1600px) {
        gap: 20px;
    }

    &__button--loading {
        .button__icon {
            animation: spin .6s infinite linear, grow .3s forwards ease-out;
        }
    }
}

@keyframes spin {
    to {
        transform: rotate(359deg);
    }
}