.input-field {
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--border);
    font-size: 0.875rem;
    color: var(--color-black);
    appearance: none;
    background: var(--color-neutral-200);

    &--list-open:not(.input-field--empty) {
        margin-bottom: calc(var(--options-list-height) + 16px);
    }

    &--checkbox {
        .input-field__list-item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &--error {
        border: 1px solid red;
    }

    &--empty {
        cursor: not-allowed;
    }

    &__selected {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 20px;
        font-size: 0.875rem;
        cursor: pointer;

        @media (width > 1200px) {
            font-size: 1rem;
        }

        @media (width > 1600px) {
            padding: 30px 20px;
            font-size: 1.125rem;
        }
    }

    &__checkbox {
        &[type="checkbox"] {
            width: 16px;
            height: 16px;
            cursor: pointer;

            @media (width > 1200px) {
                width: 18px;
                height: 18px;
            }

            @media (width > 1600px) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__input,
    &__textarea {
        background: none;
        border: none;
        width: 100%;
        min-height: 60px;
        padding: 21px 20px;
        font-size: 0.875rem;
        color: var(--color-black);

        @media (width > 1600px) {
            font-size: 1rem;
        }

        @media (width > 1600px) {
            min-height: 80px;
            font-size: 1.125rem;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 0.875rem;
            font-family: 'Manrope', sans-serif;
            color: var(--color-black);

            @media (width > 1200px) {
                font-size: 1rem;
            }

            @media (width > 1600px) {
                font-size: 1.125rem;
            }
        }
    }

    &__list {
        position: absolute;
        width: 100%;
        left: 0;
        top: 78px;
        padding: 10px 20px;
        gap: 16px;
        border-radius: 10px;
        border: 1px solid var(--border);
        background: var(--color-neutral-200);

        @media (width > 1600px) {
            top: 96px;
        }

        &-item {
            padding: 16px 20px;
            font-size: 0.875rem;

            @media (width > 1200px) {
                font-size: 1rem;
            }

            @media (width > 1600px) {
                font-size: 1.125rem;
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--border);
            }
        }
    }

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__error-message {
        color: red;
        font-size: 0.75rem;
    }

    &__icon {
        min-width: 20px;
        font-size: 1.25rem;
    }

    &__textarea {
        resize: none;
    }
}