.content-block {

    &--desktop {
        display: none;

        @media (width >= 1024px) {
            display: block;
        }
    }

    &--image {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--spacing);

        @media (width > 768px) {
            flex-direction: row;
        }

        .content-block__inner {
            width: 100%;

            @media (width > 1024px) {
                width: 50%;
            }

            @media (width > 1600px) {
                width: calc(100% / 3);
            }
        }

        .content-block__image {
            width: 100%;

            @media (width > 1024px) {
                width: 50%;
                max-height: 450px;
            }

            @media (width > 1600px) {
                width: calc(100% / 1.5);
                max-height: 650px;
            }

            @media (width > 1920px) {
                max-height: 700px;
            }

            @media (width > 2560px) {
                max-height: 800px;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        padding: var(--padding);
        gap: 20px;

        @media (width > 1024px) {
            flex-direction: row;
            gap: 135px;
        }

        &:not(.content-block--image):not(:has(.button)) {
            align-items: flex-start;
        }

        .content-block--image & {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 16px;
        }

        &--no-text {
            flex-direction: column;
            align-items: flex-start;

            @media (width > 768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .content-block__container {
                flex: unset;
            }
        }
    }

    &__container {

        &:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media (width > 1024px) {
                gap: 20px;
            }
        }

        &:last-of-type {
            @media (width < 768px) {
                width: 100%;
            }
        }
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 16px;

        @media (width > 768px) and (width < 1024px) {
            flex-direction: row;
        }

        @media (width > 1200px) {
            flex-direction: row;
        }

        .button {
            width: 100%;
        }
    }

    &__image {
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }
}