.content-block {
    padding: 0 10px;
    margin: 10px 0;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        gap: 20px;

        @media (width > 768px) {
            padding: 32px;
        }

        @media (width > 1024px) {
            padding: 68px;
            flex-direction: row;
            gap: 135px;
        }

        @media (width > 1600px) {
            padding: 90px 50px;
        }

        &--no-text {
            padding: 74px 50px;
            justify-content: space-between;

            .content-block__container {
                flex: unset;
            }
        }
    }

    &__container {
        @media (width < 1024px) {
            width: 100%;
        }

        &:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media (width > 1024px) {
                gap: 20px;
            }
        }
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        @media (width > 768px) and (width < 1024px) {
            flex-direction: row;
        }

        @media (width > 1200px) {
            flex-direction: row;
        }
    }
}