.content-block {
    margin: var(--spacing);

    &--desktop {
        display: none;

        @media (width >= 1024px) {
            display: block;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--padding);
        gap: 20px;

        @media (width > 1024px) {
            flex-direction: row;
            gap: 135px;
        }

        &--no-text {
            flex-direction: column;
            align-items: flex-start;

            @media (width > 768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .content-block__container {
                flex: unset;
            }
        }
    }

    &__container {

        &:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media (width > 1024px) {
                gap: 20px;
            }
        }

        &:last-of-type {
            @media (width < 768px) {
                width: 100%;
            }
        }
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 16px;

        @media (width > 768px) and (width < 1024px) {
            flex-direction: row;
        }

        @media (width > 1200px) {
            flex-direction: row;
        }
    }
}