.icon-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1 1 0;
    border: 1px solid var(--border);
    border-radius: 6px;
    background: var(--surface);

    :has(.icon-container__icon--set-size) {
        border-radius: 12px;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;

        @media (width > 450px) {
            padding: 16px;
        }

        &--center {
            justify-content: center;
            gap: 10px;

            @media (width > 1600px) {
                gap: 20px;
            }
        }

        :has(.icon-container__label) &:not(.icon-container__wrapper--center) {
            justify-content: flex-start;
            gap: 20px;
        }
    }

    &__icon {
        flex-shrink: 0;
        color: var(--icon-color);
        fill: var(--icon-color);

        &--set-size {
            width: var(--icon-size);
            height: var(--icon-size);
        }

        &--sm {
            --icon-size: 28px;

            @media (width > 1600px) {
                --icon-size: 35px;
            }
        }

        &--md {
            --icon-size: 30px;

            @media (width > 1600px) {
                --icon-size: 50px;
            }
        }

        &--lg {
            --icon-size: 48px;

            @media (width > 1600px) {
                --icon-size: 70px;
            }
        }
    }

    &__image {
        width: 55px;
        height: 55px;

        html.dark & {
            filter: brightness(0) invert(1);
        }
    }

    &__label {
        font-size: 0.875rem;

        @media (width > 1600px) {
            font-size: 1.125rem;
        }
    }
}