.icon-collection {
    position: relative;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: var(--padding);
        gap: 16px;

        @media (width > 1024px) {
            gap: 20px;
        }

        @media (width > 1600px) {
            gap: 30px;
        }
    }

    &__icons {
        display: flex;
        align-items: stretch;
        width: 100%;
        height: 100%;
        gap: 16px;

        &--square {
            width: fit-content;
            height: fit-content;
        }

        &--row {
            flex-direction: row;
            justify-content: center;

            &.icon-collection__icons--responsive {
                @media (width < 500px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        &--column {
            flex-direction: column;

            &.icon-collection__icons--responsive {
                @media (width < 768px) {
                    flex-direction: row;
                    justify-content: center;

                    > * {
                        flex: 0 0 auto;
                    }
                }
            }
        }

        @media (width > 1600px) {
            gap: 30px;
        }
    }
}