.counter-collection {
    margin: var(--spacing);
    overflow: hidden;

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing);

        @media (width > 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}