.navbar {
    position: relative;
    display: flex;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    gap: 6px;

    @media (width > 768px) {
        gap: 8px;
    }

    @media (width > 1200px) {
        gap: 10px;
    }

    &__logo {
        padding: 5px;

        &-link {
            display: flex;
        }
    }

    &__menu {
        display: none;
        gap: 10px;
        align-items: center;

        @media (width >= 1600px) {
            display: flex;
        }

        &-item {
            padding: 16px;

            @media (width > 1200px) {
                padding: 27px 32px;
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;

            @media (width >= 1600px) {
                display: none;
            }
        }

        &-mobile {
            position: absolute;
            top: 76px;
            width: calc(100% - 20px);
            min-height: 100vh;

            @media (width > 768px) {
                top: 78px;
            }

            @media (width > 1200px) {
                top: 98px;
            }

            @media (width >= 1600px) {
                display: none;
            }

            &-navigation {
                display: flex;
                flex-direction: column;
                gap: 6px;

                @media (width > 768px) {
                    gap: 8px;
                }
            }
        }
    }
}