.navbar {
    position: relative;
    display: flex;
    padding: 6px 6px 0 6px;
    margin-bottom: 6px;
    gap: var(--spacing);

    @media (width > 1200px) {
        margin-bottom: 8px;
        padding: 8px 8px 0 8px;
    }

    @media (width > 1600px) {
        margin-bottom: 10px;
        padding: 10px 10px 0 10px;
    }

    &__logo {
        padding: 5px;
        flex-shrink: 0;

        &-link {
            display: flex;
        }

        &-image {
            max-width: 80px;
            max-height: 65px;
            height: 100%;
            width: 100%;

            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: var(--gradient);
            }
        }
    }

    &__menu {
        display: none;
        gap: 10px;
        align-items: center;

        @media (width >= 1600px) {
            display: flex;
        }

        &-item {
            padding: 16px;

            @media (width > 1200px) {
                padding: 27px 30px;
            }

            .button {
                color: inherit;
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            cursor: pointer;

            @media (width >= 1600px) {
                display: none;
            }
        }

        &-mobile {
            position: absolute;
            top: calc(65px + var(--spacing));
            width: calc(100% - var(--spacing) * 2);
            min-height: 100vh;
            z-index: 100;
            background: var(--page-background);

            @media (width > 1200px) {
                top: calc(85px + var(--spacing));
            }

            @media (width >= 1600px) {
                display: none;
            }

            &-navigation {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: var(--spacing);
                z-index: 3;
                background: var(--page-background);
            }
        }
    }
}