.testimonial {

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 16px;
        padding: 16px;
        border-radius: 12px;
        background: var(--surface);
    }

    &__rating {
        display: flex;
        width: fit-content;
        gap: 3px;
    }

    &__icon {
        font-size: 1.5rem;
        background: var(--gradient);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__author {
        color: #00DC82;
    }

    &__date {
        opacity: 0.7;
        font-size: 0.75rem;
    }
}