.step {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 12px;

    @media (width > 768px) {
        flex-direction: row;
        gap: 20px;
    }

    @media (width > 1024px) {
        padding: 30px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__number {
        font-size: 2rem;
        line-height: 3rem;
        font-family: 'Casanova', sans-serif;
        color: var(--color-white);
        -webkit-text-stroke: 1px #00DC82;
        -webkit-text-fill-color: var(--color-white);

        @media (width > 1600px) {
            font-size: 2.25rem;
        }
    }
}