.image {
    display: flex;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: var(--object-fit, cover) !important;
        object-position: center;
        border-radius: 12px;
    }
}
