.language-selector {
    position: relative;
    display: none;
    width: 100%;
    padding: 10px 5px;
    gap: 10px;
    cursor: pointer;

    @media (width > 400px) {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 60px;
    }

    @media (width > 1200px) {
        padding: 10px 14px;
        max-width: 77px;
    }

    @media (width > 1600px) {
        max-width: 80px;
    }

    &--in-dropdown {
        display: none;

        @media (width <= 400px) {
            display: flex;
            align-items: center;
            min-height: 80px;
            padding: 16px;
        }
    }

    &__container {
        display: none;
        align-items: center;
        gap: 4px;
        font-family: 'Casanova', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;

        @media (width >= 1600px) {
            display: flex;
        }
    }

    &__list {
        display: flex;
        list-style: none;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            .button {
                color: inherit;
            }
        }
    }
}