.language-selector {
    position: relative;
    display: none;
    padding: 15px;
    gap: 10px;
    cursor: pointer;

    @media (width > 400px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (width > 1200px) {
        padding: 10px 24px;
    }

    &--in-dropdown {
        display: none;

        @media (width <= 400px) {
            display: flex;
            align-items: center;
            min-height: 80px;
            padding: 16px;
        }
    }

    &__list {
        display: none;
        list-style: none;

        @media (width <= 400px) {
            display: flex;
        }

        @media (width > 1200px) {
            display: flex;
        }

        &-item {
            font-family: 'Casanova', sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
        }

        &-drop {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 10px;
            bottom: -195px;
            left: 0;
            gap: 10px;
            border-radius: 12px;
            list-style: none;
            background: var(--color-neutral-200);

            .language-selector__list-item {
                padding: 26px 32px;
                background: var(--color-neutral-100);
            }
        }
    }
}