.text {
    padding: var(--padding);

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.5em;
        margin-bottom: 0.5em;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul, ol {
        margin-top: 0;
        margin-bottom: 1em;
        padding-left: 1.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    li {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul ul, ol ol, ul ol, ol ul {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    strong, b {
        font-weight: 600;
    }

    em, i {
        font-style: italic;
    }

    blockquote {
        margin: 1.5em 0;
        padding: 1em 1.5em;
        border-left: 4px solid var(--gradient, #0066cc);
        background: var(--color-neutral-100, #f5f5f5);
        font-style: italic;

        p:last-child {
            margin-bottom: 0;
        }
    }

    hr {
        border: none;
        border-top: 1px solid var(--color-neutral-100, #e0e0e0);
        margin: 2em 0;
    }
}