.page-header {
    display: flex;
    max-height: 800px;
    padding: 0 10px;
    margin-bottom: 10px;
    gap: 10px;

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__container {
        width: 50%;
    }

    &__container:first-of-type {
        padding: 50px;
    }

    &__container:last-of-type {
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 75px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__button-group {
        display: flex;
        gap: 11px;
    }
}