.page-header {
    display: flex;
    flex-direction: column;
    margin: var(--spacing);
    gap: var(--spacing);

    @media (width > 1024px) {
        max-height: 600px;
        flex-direction: row;
    }

    @media (width > 1600px) {
        max-height: 800px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;

        @media (width > 1024px) {
            margin-bottom: 10px;
        }

        &-main {
            font-size: clamp(3.25rem, 5vw, 6rem);
            line-height: 1.5;
            font-weight: 700;

            @media (width < 425px) {
                font-size: 2.25rem;
            }
        }

        &-sub {
            font-size: clamp(2.5rem, 4vw, 2.5rem);
            line-height: 1.5;
            font-weight: 400;

            @media (width < 425px) {
                font-size: 1.75rem;
            }
        }
    }

    &__image {
        display: flex;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__container {
        @media (width > 1024px) {
            width: 50%;
        }
    }

    &__container:first-of-type {
        padding: var(--padding);
    }

    &__container:last-of-type {
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media (width < 1024px) {
            gap: 20px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;

        @media (width > 1024px) {
            gap: 16px;
        }

        @media (width > 1200px) {
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;

        &-icon {
            font-size: 1.75rem;
            color: #00dc82;

            @media (width > 1200px) {
                font-size: 2.188rem;
            }
        }
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (width > 1024px) {
            flex-direction: row;
        }
    }
}