.page-header {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 10px;
    gap: 6px;

    @media (width > 768px) {
        gap: 8px;
    }

    @media (width > 1024px) {
        max-height: 600px;
        flex-direction: row;
    }

    @media (width > 1200px) {
        gap: 10px;
    }

    @media (width > 1600px) {
        max-height: 800px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;

        @media (width > 1024px) {
            margin-bottom: 10px;
        }

        &-main {
            font-size: clamp(3.25rem, 5vw, 6rem);
            line-height: 1.5;
            font-weight: 700;

            @media (width < 425px) {
                font-size: 2.25rem;
            }
        }

        &-sub {
            font-size: clamp(2.5rem, 4vw, 2.5rem);
            line-height: 1.5;
            font-weight: 400;

            @media (width < 425px) {
                font-size: 1.75rem;
            }
        }
    }

    &__container {
        width: 50%;
    }

    &__container:first-of-type {
        padding: 16px;

        @media (width > 768px) {
            padding: 32px;
        }

        @media (width > 1024px) {
            padding: 65px 68px;
        }

        @media (width > 1600px) {
            padding: 98px 50px;
        }
    }

    &__container:last-of-type {
        overflow: hidden;
    }

    &__image {
        display: flex;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media (width < 1024px) {
            gap: 20px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;

        @media (width > 1024px) {
            gap: 16px;
        }

        @media (width > 1200px) {
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;

        &-icon {
            max-width: 28px;
            max-height: 28px;

            @media (width > 1200px) {
                max-width: 35px;
                max-height: 35px;
            }
        }
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (width > 1024px) {
            flex-direction: row;
        }
    }
}